<form action="/">
  <button>SEARCH AGAIN</button>
</form>

<div class="movie">
  <div>
    <img src = <%= @poster %>
  </div>
  <p>Title: <%= @title %></p>
  <p>Year: <%= @year %></p>
  <p>Rate: <%= @rate %></p>
  <p>Runtime: <%= @runtime %></p>
  <p>Genre: <%= @genre %></p>
  <p>Director:<%= @director %></p>
  <p>Writer: <%= @writer %></p>
  <p>Actors: <%= @actors %></p>
  <p>Plot: <%= @plot %></p>
  <p>Language: <%= @language %></p>
  <p>Country: <%= @country %></p>
</div>
