<ul>
  <li>Company Name: <%= @result[@stock].name %></li>
  <li>Bid Price: $<%= @result[@stock].bid %></li>
  <li>Ask Price: $<%= @result[@stock].ask %></li>
  <li>Opening Price: $<%= @result[@stock].open %></li>
  <li>Closing Price: $<%= @result[@stock].lastTrade %></li>
</ul>
