  <img src="<%= @result['Poster'] %>" alt="">
  <h3>Title: <%= @result['Title'] %></h3>
  <h3>Year: <%= @result['Year'] %></h3>
  <h3>Rated: <%= @result['Rated'] %></h3>
  <h3>Released: <%= @result['Released'] %></h3>
  <h3>Genre: <%= @result['Genre'] %></h3>
  <h3>Director: <%= @result['Director'] %></h3>
  <h3>Actors: <%= @result['Actors'] %></h3>
