<h1>Secret Number</h1>

<p>Choose a Number Between 1 and 10</p>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="1">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>1</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="2">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>2</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="3">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>3</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="4">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>4</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="5">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>5</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="6">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>6</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="7">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>7</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="8">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>8</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="9">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>9</button>
</form>

<form action="/games/secretnumberanswer" method="post">
  <input type="hidden" name="num" value="10">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <button>10</button>
</form>


<form action="/" method="get">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>Main Page</button>
</form>
