<!-- Pages heading, product's details and links -->

<div class="product_details">

  <h2><%= @product.name %></h2>

  <h3>Price: $<%= @product.price %></h3>

  <h3>Stocked: <%= @product.availability %></h3>

  <img src="<%= @product.image_url %>">

</div>

<div>
<!-- deleting form.. should redirect to index page -->

  <form action="/products/delete<%= @product['id'] %>" method="post">

    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>

  </form>

  <!-- editing link, redirects to the editing page -->
  <a href="/product/<%= @product.id %>/edit">Edit</a>
</div>
