
<div class="ui-card">
  <h2><%= @planet.name %> </h2>
  <img src="<%= @planet.image_url %>">
  <h3>Position from Sun: <%= @planet.position %> </h3>
  <h3>Habitable: <%= @planet.life %> </h3>
  <h3>Radius: <%= @planet.radius %> </h3>
  <h3>Distance from Sun(millions km): <%= @planet.distance_from_sun_in_million_km %> </h3>

  <%= form_tag '/planet/destroy', method: "post" do %>
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="planet_id" value="<%= @planet.id %>">

    <button> delete </button>
  <% end %>

<div>
