
<h1> <%= @result["Title"] %> </h1>
<img src= "<%=@result["Poster"]%>" >
<div id=info>
  <ul><%= @result["Year"] %></ul>
  <ul><%= @result["Rated"] %></ul>
  <ul><%= @result["Released"] %></ul>
  <ul><%= @result["Runtime"] %></ul>
  <ul><%= @result["Genre"] %></ul>
</div>
<ul><%= @result["Director"] %></ul>
<p><%= @result["Writer"] %></p>
<p><%= @result["Actors"] %></p>
<p><%= @result["Plot"] %></p>
