
<img src="<%= @result["Poster"] %>">

<div>
  <div class="panel-heading"><%= @result["Title"] %></div>
  <div class="panel-body">
    <p class="list-group-item"><%= @result["Plot"] %></p>
  </div>
    <ul class="list-group">
      <li class="list-group-item">Year: <%= @result["Year"] %></li>
      <li class="list-group-item">Rated: <%= @result["Rated"] %></li>
      <li class="list-group-item">Released: <%= @result["Released"] %></li>
      <li class="list-group-item">Runtime: <%= @result["Runtime"] %></li>
      <li class="list-group-item">Genre: <%= @result["Genre"] %></li>
      <li class="list-group-item">Director: <%= @result["Director"] %></li>
      <li class="list-group-item">Writer: <%= @result["Writer"] %></li>
      <li class="list-group-item">Actors: <%= @result["Actors"] %></li>
      <li class="list-group-item">Language: <%= @result["Language"] %></li>
      <li class="list-group-item">Country: <%= @result["Country"] %></li>
      <li class="list-group-item">Awards: <%= @result["Awards"] %></li>
      <li class="list-group-item">Metascore: <%= @result["Metascore"]%></li>
      <li class="list-group-item">IMDB Rating: <%= @result["imdbRating"] %></li>
    </ul>

</div>
