
<div class="container">

  <img id='poster' src= <%= @poster.to_s %> >

  <div class="infoMovie">
    <p> <u>Title:</u>  <%= @title %> </p>
    <p> <u>Year:</u> <%= @year %> </p>
    <p> <u>Genre:</u> <%= @genre %> </p>
    <p> <u>Director:</u> <%= @director %> </p>
    <p> <u>Awards:</u> <%= @awards %> </p>
    <p> <u>Country:</u> <%= @country %> </p>
    <p> <u>Actors:</u> <%= @actors %> </p>
    <p> <u>Plot:</u> <%= @plot %></p>
  </div>

</div>
