
    <img id='poster' src= <%= @poster_url %>  <%= @poster_url_external_db %> >

    <div class="infoMovie">
      <p> <u>Title:</u>  <%= @title %> <%= @title_external_db %> </p>
      <p> <u>Year:</u> <%= @year %> <%= @year_external_db %> </p>
      <p> <u>Genre:</u> <%= @genre %> <%= @genre_external_db %> </p>
      <p> <u>Director:</u> <%= @director %> <%= @director_external_db %> </p>
      <p> <u>Awards:</u> <%= @awards %> <%= @awards_external_db %> </p>
      <p> <u>Country:</u> <%= @country %> <%= @country_external_db %> </p>
      <p> <u>Actors:</u> <%= @actors %> <%= @actors_external_db %> </p>
      <p> <u>Plot:</u> <%= @plot %> <%= @plot_external_db %></p>
    </div>
