
<div class="movie">
  <h2><%= @result["Title"] %></h2>
  <h3><%= @result["Year"] %></h3>
  <p>Genre: <%= @result["Genre"] %></p>
  <p>Starring: <%= @result["Actors"] %></p>
  <p><%= @result["Plot"] %></p>
  <img src="<%= @result["Poster"] %>" alt="">

</div>
