



<h3> Title: <%= @result['Title']  %> </h3>
<h3> Rated: <%= @result['Rated']  %> </h3>
<h3> Released: <%= @result['Released']  %> </h3>
<h3> Runtime: <%= @result['Runtime']  %> </h3>
<h3> Director: <%= @result['Director']  %> </h3>
<div>
  Poster: <img src="<%= @result['Poster']  %>">
</div>
