<h1>Planets</h1>

<% @planets.each do |planet|  %>

  <div class="box " style="width: 200px;">
      <h2><%= planet.name %></h2>
      <img class="planet_img" src="<%= planet.image_url %>" alt="">
      <form action="/planets" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="planet_id" value="<%= planet.id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>delete</button>

      </form>
      <a href="/planets/<%= planet.id %>">edit</a>
  </div>

  <% end %>
</div>
