<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= form_tag '/session', method: 'delete' do %>
      <button>Logout</button>
    <% end %>

    <%= form_tag '/session', method: 'post' do %>
      <label for="">Email</label>
      <input type="text" name="email" value="">

      <label for="">Password</label>
      <input type="password" name="password" value="">

      <input type="submit" name="" value="Log in">
    <% end %>

    <%= yield %>
  </body>
</html>
