<h2>Edit Photo</h2>

<form action="/edit/<%= @product['id'] %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>name</label>
  <input name="name" type="text" value="<%= @product['name'] %>">

  <label for="">image url</label>
  <input name="image_url" type="text" value="<%= @product['image_url'] %>">

  <label for="">price</label>
  <input type="text" name="price" value="<%= @product['price']%>">

  <label>availability</label>
  <input type="text" name="availability" value="<%= @product['availability'] %>">

  <button>Update</button>
</form>
