<div>
  <h1><%= @title %></h1>
</div>
<div class="wrapper">
  <div class="left">
    <img src= <%=@image%> alt="">
  </div>
  <div class="right">
    <ul>
      <li><span>Title</span> : <%= @title %></li>
      <li><span>Year</span> : <%= @year %></li>
      <li><span>Rated</span> : <%= @rated %></li>
      <li><span>Released</span> : <%= @release %></li>
      <li><span>Runtime</span> : <%= @runtime %></li>
      <li><span>Genre</span> : <%= @genre %></li>
      <li><span>Director</span> : <%= @director %></li>
      <li><span>Writer</span> : <%= @writer %></li>
      <li><span>Actors</span> : <%= @actors %></li>
      <li><span>Plot</span> : <%= @plot %></li>
      <li><span>Language</span> : <%= @language %></li>
      <li><span>Country</span> : <%= @country %></li>
      <li><span>Awards</span> : <%= @awards %></li>
      <li><span>Metascore</span> : <%= @metascore %></li>
      <li><span>IMDB Rating</span> : <%= @imdbrating %></li>
      <li><span>IMDB Votes</span> : <%= @imdbvotes %></li>
    </ul>
  </div>
</div>
